@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

/* @font-face {

    font-family: 'Gerbera';
    src: url('../fonts/Gerbera.woff') format('woff');
    src: url('../fonts/Gerbera.woff2') format('woff2');
    src: url('../fonts/Gerbera.eot') format('eot');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera-Bold';
    src: url('../fonts/Gerbera-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
} */
